@model SapExplorer.Web.Models.DatasheetModel
<h4></h4>
<div class="row">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline" }))
    {
        <fieldset>
            <div class="form-group">
                <label for="Destination">Destination</label>
                @Html.DropDownListFor(x => x.SelectedDestination, new SelectList(Model.Destinations, "Name", "Name"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Function">Function name</label>
                @Html.TextBoxFor(x => x.SearchFunction, new { @class = "form-control", placeholder = "Function name" })
            </div>
            <div class="form-group" style="padding-top:24px">
                <button type="submit" class="btn btn-primary" value="Search">Search</button>
                @if (Model.Parameters != null)
                {
                    <button type="submit" class="btn btn-default" formaction="Code" value="CodeCom">CodeDom</button>
                }
            </div>
        </fieldset>
    }
</div>
<div class="row" style="padding-top:40px">
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @ViewBag.Error
        </div>
    }
    <table class="table table-striped table-bordered table-hover">
        <colgroup>
            <col style="width:10%" />
            <col style="width:20%" />
            <col style="width:10%" />
            <col style="width:10%" />
            <col style="width:10%" />
            <col style="width:auto" />
        </colgroup>
        <tr>
            <th>Direction</th>
            <th>Parameter Name</th>
            <th>Type</th>
            <th>Optional</th>
            <th>DefaultValue</th>
            <th>Documentation</th>
        </tr>
        @if (Model.Parameters != null)
        {
            foreach (var p in Model.Parameters)
            {
                <tr>
                    <td>@p.Direction</td>
                    <td>
                        @if (p.Structure != null)
                        {
                            <a href="javascript:void(0);" data-id="@p.Name" class="structure">@p.Name</a>
                        }
                        else
                        {
                            @p.Name
                        }
                    </td>
                    <td>@p.DataType</td>
                    <td>@p.Optional</td>
                    <td>@p.DefaultValue</td>
                    <td>@p.Documentation</td>
                </tr>
                if (p.Structure != null)
                {
                    <tr id="@p.Name" style="display:none">
                        <td colspan="6">
                            <h4>
                                Structure name: @p.Structure.Name
                                @if (p.DataType.Equals("TABLE") && p.Direction.Equals("TABLES"))
                                {
                                    <button data-id="@p.Structure.Name" class="btn btn-info table-view">View Table</button>
                                }
                            </h4>

                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>Name</th>
                                    <th>DataType</th>
                                    <th>Length</th>
                                    <th>Decimals</th>
                                    <th>Documentation</th>
                                </tr>
                                @foreach (var f in p.Structure.Fields)
                                {
                                    <tr>
                                        <td>@f.Name</td>
                                        <td>@f.DataType</td>
                                        <td>@f.Length</td>
                                        <td>@f.Decimals</td>
                                        <td>@f.Documentation</td>
                                    </tr>
                                }
                            </table>

                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>
<script>
    $(function () {
        $("#SelectedDestination option").each(function (index) {
            var text = $(this).text();

            $.each(re, function (i, obj) {
                text = text.replace(obj.regex, obj.value);
            });

            $(this).text(text);
        });

        $("#SearchFunction").autocomplete({
            serviceUrl: "@Url.Action("GetFunctions")",
            onSearchStart: function (params) {
                params.destination = $("#SelectedDestination").val();
            },
            transformResult: function (response) {
                return {
                    suggestions: $.map(JSON.parse(response), function (f) {
                        return { value: f, data: f };
                    })
                };
            }
        });

        $(".structure").click(function () {
            var target = $(this).data("id");

            $("#" + target).toggle();
        });

        $(".table-view").click(function () {
            var d = $("#SelectedDestination").val();
            var s = $(this).data("id");
            var url = "Read/" + d + "/" + s;
            window.open(url, "_blank");
        });

        $(".codecom-view").click(function () {
            var d = $("#SelectedDestination").val();
            var f = $("#SearchFunction").val();
            var s = $(this).data("id");
            var url = "CodeCom/" + d + "/" + f + "/" + s;
        });
    });

    var dic = {
        "AEKYUNG_DEV": "애경산업-개발",
        "AEKYUNG_REAL": "애경산업-운영",
        "AKBB_DEV_SAP": "제주항공-개발",
        "AKBB_JJP_SAP": "제주항공-운영",
        "AKBB_JJQ_SAP": "제주항공-검증",
        "AKB_DEV_SAP": "애경화학-개발",
        "AKB_REAL_SAP": "애경화학-운영",
        "AKC_DEV_SAP": "AK켐텍-개발",
        "AKC_REAL_SAP": "AK켐텍-운영",
        "AKP_DEV_SAP": "애경유화-개발",
        "AKP_REAL_SAP": "애경유화-운영",
        "AKIS_ERP": "AKIS-운영",
        "AKIS_ERP_DEV": "AKIS-개발"
    };

    var re = $.map(dic, function (v, k) {
        return {
            regex: new RegExp('\\b' + k + '\\b', 'g'),
            value: v
        };
    });
</script>